<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0'>
        <title>Access Whitelist</title>
        <style>
            table, th, td{
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td{
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <h1>
            Access System Whitelist
        </h1>
        <form id = "addForm">
            <input type = 'text' id = 'uid' placeholder="UID" required>
            <input type = 'text' id = 'name' placeholder="User" required>
            <input type = 'text' id = 'permissions' placeholder="Permission" required>
            <button type = 'submit'>Add</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>UID</th>
                    <th>User</th>
                    <th>Permissions</th>
                    <th id = 'LastUsed'>Last Used</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id = 'whitelist'>

            </tbody>
        </table>
        <script src = "{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>